- name: install php5
  become: yes
  apt: name={{ item }}
  with_items:
    - php7.4
    - php7.4-cgi
    - php7.4-fpm
    - php7.4-memcache
    - php7.4-memcached
    - php7.4-mysql
    - php7.4-gd
    - php7.4-curl
    - php7.4-xmlrpc

- name: php settings file
  become: yes
  template:
    src: php.ini
    dest: /etc/php/7.4/fpm/php.ini
  notify: restart php-fpm