---
- name: Install unison
  apt:
    name: "{{ item }}"
    update_cache: yes
  with_items:
    - unison
    - unison-all
    - cron

- name: enable cron
  action: service name=cron state=started
### path /var/www/wordpress

- name: Create a directory
  ansible.builtin.file:
    path: ~/.unison/default.prf
    state: directory
    mode: '0755'

- name: update unison/default.prf
  template:
    src: default.prf
    dest: ~/.unison/default.prf

- name: Copy file
  become: true
  ansible.builtin.copy:
    content: "#!/bin/bash \n unison /var/www/wordpress ssh://10.1.0.4//var/www/wordpress -auto -batch"
    dest: /usr/bin/unisonsync.sh
    mode: '0755'

- name: Performs synchronization every 1 minutes
  ansible.builtin.cron:
    name: unisonsync
    minute: "*/5"
    user: ubuntu
    job: "/usr/bin/unisonsync.sh"
