#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: node_exporter
  scrape_interval: 15s
  static_configs:
  - targets:
    - 10.0.1.20:9100
    - 10.0.1.37:9100
{% endif %}
{% if prometheus_nginx_vts_group %}
- job_name: nginx_vts
  scrape_interval: 15s
  static_configs:
  - targets:
    - 10.0.1.20:9913
    - 10.0.1.37:9913
    - 10.0.1.5:9913
{% endif %}
